$electricColor: blue
$iceColor: #1E96FF
$fireColor: #E80606
$zColor: #045A04
$strColor: red
$intColor: blue
$agiColor: green
$gbColor: green
$bbColor: blue

html,body
  font-family: '微軟正黑體'
  background: white
label
  font-weight: bold
main
  input
    width: 100%
    text-align: right
    font-size: 1em
    padding: 4px 6px

h3
  margin: 0
  padding: .5em 
  background: linear-gradient(#F0F5FF 0%,#DCDCDC 100%)
  color: #1D2C75
  &.active,&:hover
    background: linear-gradient(#6C91E4 0%,#142C79 100%)
    color: white
    & a
      color: white
  span
    cursor: pointer
    a
      color: #1D2C75
section
  padding: 0 .5rem
  p
    text-align: center
    strong
      display: block
nav
  position: relative
  min-height: 80px
  max-height: auto
  z-index: 999
  width: 100%
  ul
    position: fixed
    width: 100%
    background: #E2E3E6
    li
      position: relative
      padding: .5em
      cursor: pointer
      float: left
      color: #1D2C75
      background: linear-gradient(#F0F5FF 0%,#DCDCDC 100%)
      box-shadow: 0px -2px 6px #BDBDBD
      a
        color: #1D2C75
      &.active,&:hover
        background: linear-gradient(#6C91E4 0%,#142C79 100%)
        color: white
      &:hover a
        color: white
      #fileInport
        width: 100%
        height: 100%
        position: absolute
        opacity: 0
        cursor: pointer
.iceColor
  color: $iceColor
.fireColor
  color: $fireColor
.electricColor
  color: $electricColor
.zColor
  color: $zColor
.str
  color: $strColor
.int
  color: $intColor
.agi
  color: $agiColor
.gb
  color: $gbColor
.bb
  color: $bbColor
#author
  backgrond: black
  & a
    color: white
#text
  position: fixed
  width: 20%
  height: 300px
  left: 40%
  top: 100px
  textarea
    color: black
    width: 100%
    height: 100%
    padding: 5px
    resize: none
#infobox, #infoNum
  height: 500px
  overflow-y: auto
  overflow-x: hidden
